@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shared-bg {
  --_mesh-gradient-blur: 0px;
  --_mesh-gradient-blend-mode: normal;

  background: radial-gradient(at 15% 1%, #96ab96 0px, transparent 50%),
    radial-gradient(at 68% 95%, #96aba0 0px, transparent 50%),
    radial-gradient(at 11% 78%, #96abab 0px, transparent 50%),
    radial-gradient(at 91% 59%, #ab96ab 0px, transparent 50%),
    radial-gradient(at 42% 63%, #ab9696 0px, transparent 50%), #000000;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
  filter: blur(var(--_mesh-gradient-blur));
}
.dark .shared-bg {
  --_mesh-gradient-blur: 0px;
  --_mesh-gradient-blend-mode: normal;

  background:
    radial-gradient(at 86% 74%, #895b1d 0px, transparent 50%),
    radial-gradient(at 29% 76%, #959ea7 0px, transparent 50%),
    radial-gradient(at 54% 39%, #a7977c 0px, transparent 50%),
    radial-gradient(at 19% 28%, #9a6a52 0px, transparent 50%) #000000;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
  filter: blur(var(--_mesh-gradient-blur));
}
.svg {
  filter: invert(100%) sepia(14%) saturate(1676%) hue-rotate(1deg)
    brightness(113%) contrast(106%);
}
.dark .svg {
  filter: invert(82%) sepia(29%) saturate(10%) hue-rotate(314deg)
    brightness(86%) contrast(95%);
}
